[submodule "acquire-video-runtime"]
	path = acquire-libs/acquire-video-runtime
	url = ../acquire-video-runtime.git
	branch = main
[submodule "acquire-libs/acquire-core-libs"]
	path = acquire-libs/acquire-core-libs
	url = ../acquire-core-libs.git
[submodule "acquire-common"]
	path = acquire-common
	url = git@github.com:aliddell/acquire-common.git
